<div class="container">
  <h1>Weather App</h1>
  <input [(ngModel)]="city" placeholder="Search for a city" />
  <button (click)="search()">Submit</button>
  <p @if(error) style="color: red">{{ error }}</p>

  <div *ngIf="weather">
    <h2>{{ weather.name }}</h2>
    <p>{{ weather.main.temp }} K</p>
    <p>{{ weather.weather[0].description }}</p>
    <img
      [src]="
        'http://openweathermap.org/img/w/' + weather.weather[0].icon + '.png'
      "
    />
  </div>

  <div>
    <h3>History</h3>
    @for (item of history; track item) {
    <li>{{ item }}</li>
    } @empty {
    <li>There are no items.</li>
    }
  </div>
</div>
